{% extends 'myadmin/myadmin_base.html' %}
{% block content %}

<h1>Subjects</h1>
{% for subject in object_list %}
    <li><span onclick="get_level_questions( {{ subject.id }} )">{{ subject.name }}</span></li>
{% endfor %}


<script>

    if (localStorage.getItem('lang') === null) {
        localStorage.setItem('lang', 'en_lang');
    }

    function get_level_questions(id) {
        var lang = localStorage.getItem('lang')
        location.href = '/myadmin/detail/' + id + '/' + lang
    }

</script>

{% endblock %}